/* Corpo da página */
body {
    font-family: 'Times New Roman', serif;
    background-color: #3e3a39;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('path/to/old-paper-texture.jpg'); /* Textura de pergaminho */
    background-size: cover;
    background-position: center;
}

/* Container principal do quiz */
#quiz-container {
    background-color: rgba(44, 62, 80, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    max-width: 400px;
    border: 2px solid #c0392b;
    margin-top: 20px;
}

/* Estilo da pergunta */
#question-container {
    margin-bottom: 25px;
}

#question-text {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f39c12;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Garamond', serif;
}

/* Imagem da pergunta */
#question-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #c0392b;
    margin-bottom: 20px;
}

/* Opções de resposta (2 em cima, 2 embaixo) */
#options-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas */
    gap: 15px; /* Espaçamento entre as opções */
    margin-top: 15px; /* Ajuste o espaçamento superior */
}

#options-container .option {
    background-color: #7f8c8d;
    color: #f2f2f2;
    padding: 10px 15px;
    margin: 0; /* Remover o margin, pois usamos gap no grid */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s, transform 0.2s ease;
}

#options-container .option:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

/* Estilo do resultado */
#result-container {
    display: none;
    margin-top: 25px;
}

#result-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2ecc71;
    font-family: 'Georgia', serif;
    animation: fadeInResult 1s ease-out;
}

/* Estilo dos botões */
button {
    padding: 10px 15px;
    background-color: #8e44ad;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #9b59b6;
    transform: scale(1.1);
}

button:active {
    box-shadow: 0 0 15px rgba(142, 68, 173, 0.6);
}